<nav>
  <div class="wrapper">
    <div class="logo"><img src="/assets/img/crisil.png" alt="My Image"></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<div class="body-text">
  <div class="sub-title pb-4">Residential Mortgage Securities (RMBS) Credit Rating</div>
<hr>
  <router-outlet></router-outlet>
</div>


